{% extends "template/base.html.twig" %}

{% block title %}Testes Silex/Twig{% endblock %}


{% block content %}
    <h1>Testes Silex/Twig</h1>
    <p class="important">
        Bem vindo a minha homepage.
    </p>
{% endblock %}